@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: white;
// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$light: $beige-light;
$danger: purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";

#input-size{
  width: 400px;
}
#search-box{
  position: fixed;
  z-index: 2;
  top: 50%;
  left:50%; 
  margin-left: -220px;
  margin-top: -75px;
}
.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grow{
  -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1);
    transition: all 100ms ease-in;
    transform: scale(1);  
    animation: swell 5s infinite;
}
.grow2{
  -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1);
    transition: all 100ms ease-in;
    transform: scale(1);  
    animation: swell 10s infinite;
}
.grow3:hover img{
  -webkit-transition: all 100ms ease-in;
  -webkit-transform: scale(1.05);
  -ms-transition: all 100ms ease-in;
  -ms-transform: scale(1.05);   
  -moz-transition: all 100ms ease-in;
  -moz-transform: scale(1.05);
  transition: all 100ms ease-in;
  transform: scale(1.05);
}

@keyframes swell {
  0%,  100% {
    transform: scale(1.00);
  }
  50% {
    transform: scale(1.04);
  }
}